* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: #000000;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

.display {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 450px; 
    max-height: 450px; 
}

.tile {
    border: 3px solid rgb(179, 65, 65);
    min-width: 150px; 
    min-height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px; 
    cursor: pointer;
}


.playerX {
    color: #6499E9;
}

.playerO {
    color: #9400FF;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.controls button {
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}